.idea/
.vscode/
**/node_modules
api/.nyc_output/
api/build.timestamp
api/templates
web/dist/
web/grapesjs/dist
web/grapesjs/locale
web/src/environments/timestamp.ts
.angulardoc.json
.env
.DS_Store
docker-compose.yml
update.local.new.sha
update.local.sha
update.local.lock
build-local-ci.env